
<div class="w-full  justify-center  flex ">
    <div  class="w-1/2 flex m-1 shadow-xl shadow-black/20 justify-between border duration-200 border-black/15 hover:scale-105  p-2">
        <h1 class=" ">{{contacto?.id}} </h1>
        <p class="">{{contacto?.name}} </p>
        <p class="">{{contacto?.email}}</p>
        <div class="w-1/5 flex justify-evenly">
            <button (click)="editarDatos()" class="bg-slate-500 text-white rounded-md p-1"><span *ngIf="flagD">Cancelar</span> <span *ngIf="!flagD">Editar</span> </button>
            <button (click)="eliminar()" class="bg-red-600 text-white rounded-md p-1">Eliminar</button>
        </div>
    </div>
</div>
<div class="w-full  justify-center m-5 flex" *ngIf="flagD">
    <form class="w-1/2 flex flex-wrap items-end justify-between" (ngSubmit)="GuardarDatos()">
        <span class="w-1/3">Nombre:
            <input class="w-full  border border-black/40 bg-transparent rounded-md p-2" type="text" (keyup)="cambiosEnElNombre()" [value]="contacto?.name" [(ngModel)]="contacto.name"  name="name" id="name">
        </span>
        <span class="w-1/3">Email:
            <input class="w-full  border border-black/40 bg-transparent rounded-md p-2" type="text" [value]="contacto?.email" [(ngModel)]="contacto.email" name="id" #name id="email">
        </span>
        <button class="w-1/4 h-10 p-2 items-end  border bg-blue-400/40 border-blue-600 rounded-md">Guardar</button>
    </form>
</div>